



.li1{

    float: left;
margin-left: 20px;
font-size: 20px;
list-style-type: none;

}
a{
    text-decoration: none;
    color: gray;

}

.li2{
    float: right;
    margin-right: 20px;
    font-size: 20px;
    list-style-type: none;
}
.g{
    color: rgb(12, 124, 228);
}
.oe{

color: red;

}

.o{

color: rgb(255, 184, 4);

}
.l{


color: green;

}
.google{

position: absolute;    
    width: 70%px;
    height: 50%px;
    background-color: rgb(255, 255, 255);
    font-size: 150px;
margin-left: 34%;
margin-top: 10%;
}

.serach{
    position: absolute;
margin-left: 35%;
margin-top: 21%;
}

.serach1{

    border: 1;
    width: 400px;
    height: 40px;
}

.button1{

    position: absolute;
margin-left: 25%;
margin-top: 27%;
width: 200px;
height: 40px;
}
.button2{
    position: absolute;
    margin-left: 37%;
    margin-top: 27%;
    width: 200px;
    height: 40px;
}
.li3{

    float: left;
    margin-top: 42em;
    margin-right: 48px;
font-size: 20px;
list-style-type: none;

}
a{
    text-decoration: none;
    color: gray;

}

.li4{
    float: right;
    margin-top: 42em;
    margin-right: 50px;
    font-size: 20px;
    list-style-type: none;
}
